<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="script.js"></script>
  </head>
  <body>
    <div class="container">
      <input type="text" id="pseudoInput">
      <button id="nameSet">Set Pseudo</button>
      <div id="entries"></div>
      <div id="controll">
        <input type="text" id="messageInput">
        <button id="submit">Send</button>
      </div>
    </div>
  </body>
</html>