<% include top %>
  <div class="container">
    <div class="content">

      <input type="text" id="userNameInput">
      <button id="setUserNameButton">Set Pseudo</button>

      <div id="entries"></div>

      <div id="controll">
        <input type="text" id="messageInput">
        <button id="submitMessageButton">Send</button>
      </div>
    </div>
  </div>
<% include bottom %>