<% include top %>
  <div class="container">
    <div class="content">
      <div class="chat" id="chat">
        <div id="contact-list" class="contact-list">
        </div>  
        <div class="entries" id="entries">
        </div>
        <div class="controll" id="controll">
              <textarea class="messaging" type="text" id="messageInput"></textarea>
          </div>
        <div>
      </div>
    </div>
  </div>
  <div class="spec">
    <div id="userSettings">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-lg-2 control-label">Name </label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="userChangeName" placeholder="Password">
          </div>
        </div>
      </div>       
    </div>
  </div>
<% include bottom %>