<% include top %>
  <div class="container">
    <div class="container-content">
      <div class="rooms">
        <a href="/room1"><div class="room"><h3>Room 1</h3></div></a>
        <a href="/room2"><div class="room"><h3>Room 2</h3></div></a>
        <a href="/room3"><div class="room"><h3>Room 3</h3></div></a>
        <a href="/room4"><div class="room"><h3>Room 4</h3></div></a>
        <a href="/room5"><div class="room"><h3>Room 5</h3></div></a>
      </div>
      <div class="rooms">
        <h2>The Open Chat was created with NodeJS. <br>
         It use ExpressJS, SocketIO and MongoDB</h2>
      </div>
    </div>
  </div>
<% include bottom %>