<% include top %>
  <div class="container">
    <div class="content">
      <div class="box">
        <a href="/room1"><div class="room">Room 1</div></a>
        <a href="/room2"><div class="room">Room 2</div></a>
        <a href="/room3"><div class="room">Room 3</div></a>
        <a href="/room4"><div class="room">Room 4</div></a>
        <a href="/room5"><div class="room">Room 5</div></a>
      </div>
      <div class="box">
        <h1 class="intro">The Open Chat was created with NodeJS. <br> It use ExpressJS, SocketIO and MongoDB</h1>
      </div>
    </div>
  </div>
<% include bottom %>