<html>
	<%= total %>
	<% for(message in messages){ %>
		<a href="/delete/<%=messages[message]._id.toHexString()%>"><%= messages[message].message%></a>
	<% } %>
	<form action="/new" method="POST">
		<textarea name="message" ></textarea>
		<input type="submit">
	</form>
</html>