<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <script src="/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>  
    <script src="/bootstrap/js/popover.js"></script>  
    <script src="script.js"></script>
    <script src="users.js"></script>
    <script src="storage.js"></script>
    <link href="style.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/bootstrap/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="header">
      <div class="content">
        <a class="title" href="/"><h1>Open Chat</h1></a>
      </div>
    </div>