<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="script.js"></script>
    <link href="style.css" media="screen" rel="stylesheet" type="text/css">
    <style type="text/css">.tk-adelle{font-family:"adelle",serif;}</style>
    <link rel="stylesheet" href="http://use.typekit.net/c/4ae81a/adelle:n1:n4:n6.XJq:N:2,XK9:N:2,XKC:N:2/d?3bb2a6e53c9684ffdc9a9bf3195b2a62d1c54ed00fc5de48ce5f6306149532d2f304294a7381aa871aa18b79c2836cf704b2eee79bc0c8803d9f64b5d983209b0a2ef4d4f29e036c59906c27b55db92ff1f13c3422ab7f1bdda858fa15eada82d5ac4971c173f2002f5ad5aa961d0abab0efbe52ab2abf3793fb5bff06a3818c3ec39b25f81535a0fcd0dd6023d0fd633fc22ea0b50e94eba5">
  </head>
  <body>
    <div class="header">
      <div class="content">
        <a class="title" href="/"><h1>Open Chat</h1></a>
      </div>
    </div>