body{
	background: #f5f5f5;
	color: #555;
	font-size: 10px;
	font-family: "adelle",serif;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	margin: 0px;
}

h2, h3, h4{
	font-weight: 700;
	text-transform: none;
	color: #1d183d;
}

h4{
	color: rgba(85, 26, 139, 1);
	font-size: 15px;
	margin: 10px;
}

h3{
	margin: 0px;
	font-size: 2.4em;
}

h2{
	margin: 0px;
	font-size: 4.4em;
}

a{
	text-decoration: none;
}

h1{
	font-size: 4em;
	line-height: 1em;
	font-weight: 900;
	margin: 0;
	padding: 0;
}

p{
	font-size: 14px;
	margin-bottom: 1em;
	line-height: 1.6em;
	font-weight: 500;
}

.header{
	padding: 10px;
	background-color: #9073c0;
	color: white;
}

.header .content{
	width: 980px;
	margin: 0 auto;
}

.header .content .title{
	color: white;
}

.container .content{
	width: 980px;
	margin: 0 auto;
}

.container .content .chat{
	margin-top: 20px;
}

.container .content .chat .contact-list{
	height: 400px;
	width: 20%;
	float: left;
	background-color: white;
	border-top: 1px solid #ccc;
	box-shadow: 1px 2px 9px -1px #ccc;
	border-radius: 10px 0px 0px 0px;
	padding-bottom: 20px;
}

.container .content .chat .contact-list .user{
	border: 1px solid rgb(226, 226, 226);
	margin: 5px 10px 0px 5px;
	border-radius: 5px;
}

.container .content .chat .entries{
	height: 400px;
	width: 80%;
	float: left;
	background-color: white;
	border-top: 1px solid #ccc;
	box-shadow: 1px 2px 9px -1px #ccc;
	border-radius: 0px 10px 0px 0px;
	overflow: scroll;
	overflow-x: hidden;
	padding-top: 20px;
}

.container .content .chat .entries .message{
	margin-left: 20px;
}

.container .content .chat .message .text{
	margin: 0px;
}

.container .content .chat .controll{
	height: 70px;
	background-color: white;
	border-top: 1px solid #ccc;
	box-shadow: 1px 2px 9px -1px #ccc;
	border-radius: 0px 0px 10px 10px;
	clear: both;
}

.container .content .chat .controll .messaging{
	width: 952px;
	border: 0px;
	margin: 2px 0px;
	height: 41px;
	outline: none;
	padding: 10px;
	resize: none;
}

.container .content .box{
	padding-top: 20px;
	float: left;
	width: 50%;
}

.container .content .box .room{
	box-shadow: 2px 2px 14px 0px #ccc;
	margin-top: 5px;
	width: 90%;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
}

.container .content .box .room:hover{
	border: 1px solid rgb(187, 193, 255);
}